.w3-container {
  padding:0.01em 16px;
  font-family: Verdana;
  font-size:15px;
  line-height:1.5
}

.w3-red {
  color: #fff;
  background-color: #7bd75a;
}

ul {
  list-style-type: none;
  font-family: Verdana;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.tree-header {
  padding:0.01em 16px;
}

.tree-footer {
  padding:0.01em 16px;
}

.tree-body {
  padding:0.01em 16px;
}
